button{
    cursor: pointer;
}
a{
font-family: 'Lumanosimo';
}
.logo-text{
    text-transform: uppercase;
    color:#444242;
}

.menu-item{
    list-style:none;
    background: #aaa;
    width: 100px;
    border-bottom: 1px solid #e8d0d0;
    padding: 5px;
}
.menu-link{
    text-decoration:none;
    color:black;
    text-transform: uppercase;
    font-size: 14px;
}

.banner-info{
    background:url('./images/mac.jpg');
    width: 100%;
    height: 500px;
    color:white;
}
.banner-btn{
    padding: 13px;
    border: none;
    background: #aaaaaa90;
    color: #e8d0d0;
    border-radius: 5px;
}

.card{
    margin: 5px;
    /* box-shadow: h-offse v-osset blur spead color :px*/
    /*  h-ofset: kc ngang từ phần đến bóng , vofset là kc dọ:pxc*/
    /* blur: độ nhoè, spreade khoảng cách rìa của bóng đền phần tử:px */
    /* color: màu sc */
    /* box-shadow: (chiều ngang) (chiều dọc) (độ nhoè) (khoảng cách) (màu) :p */
    /* box-shadow: 20px 20px 10px 20px red; */
    box-shadow: 0px 0px 10px 0px rgba(172, 144, 144, 0.432);
    width: 300px;
    /* border: 1px solid ; */


    margin-bottom: 100px;
}
.card-desc{
    padding: 10px;
}

.btn-contact{
    background: #aaaaaa90;
    padding: 5px 100px;
    border-radius: 4px;
    
    /* padding: top-bottom left-right */
}

.email{
    color:red;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    border:1px solid #ccc
}

.name{
    color:red;
    text-transform: uppercase;
    padding: 10px;
    border:none;
    border-bottom:1px solid #ccc
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
.clear-both{
    clear: both;
}
.w-1{
    width: 10%;
}
.w-3{
    width: 30%;
}
.w-5{
    width: 50%;
}
.w-7{
width: 70%;
}
.w-100{
    width: 100%;
}